<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Currencies Test Suite">
            <directory suffix=".php">./tests/StrToMoney/Currencies</directory>
        </testsuite>
        <testsuite name="Exceptions Test Suite">
            <directory suffix=".php">./tests/StrToMoney/Exceptions</directory>
        </testsuite>
        <testsuite name="Exchangers Test Suite">
            <directory suffix=".php">./tests/StrToMoney/Exchangers</directory>
        </testsuite>
        <testsuite name="Interpreters Test Suite">
            <directory suffix=".php">./tests/StrToMoney/Interpreters</directory>
        </testsuite>
    </testsuites>
</phpunit>
